# Java/Spring Boot
target/
build/
!.mvn/wrapper/maven-wrapper.jar

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
plano_de_projeto.md

### Logs & Temp ###
*.log
docker-compose.override.yml
.DS_Store

### Compiled files ###
*.class
*.jar
*.war
*.ear
